/* Fix user-agent */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff28;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(139deg, #b300ff6a, #00adb973);
    border: 3px solid white;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(139deg, #b400ff, #00adb9);
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  /*font-family:*/
  /*  "HelveticaNeue-Light",*/
  /*  "Helvetica Neue Light",*/
  /*  "Helvetica Neue",*/
  /*  Helvetica,*/
  /*  Arial,*/
  /*  "Lucida Grande",*/
  /*  sans-serif;*/
  
  font-family: 'Libre Franklin', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
  font-weight: 700;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: black;
  font-size: 70%;
  margin: 5px;
  text-align: center;
  font-weight: 800;
}

/* Messages */

.chatArea {
  height: 100vh;
  padding-bottom: 60px;
  background-image: url("https://public2.coprepedu.com/uploads/2023/Jul/22/16/11/01/chat.jpg");
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.messages {
  height: 87vh !important;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 1px 1px 2px 1px #00000029;
    margin-bottom: 20px;
}

#block_bg {
    height: 100vh;
}

#blockedList {
    overflow: auto;
    height: 82vh;
}

.messageBody {
    font-size: 10pt;
    line-height: 1em;
}

.message.typing .messageBody {
  color: gray;
}



/* Input */

.message-input {
    padding: 10px;
}

.inputMessage {
  /*border: 10px solid #000;*/
  /*bottom: 0;*/
  /*height: 60px;*/
  /*left: 0;*/
  /*outline: none;*/
  /*padding-left: 10px;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*width: 100%;*/
  
    border: 0px;
    outline: none;
    padding: 14px 20px;
    border-radius: 100px;
    width: 100%;
    box-shadow: 1px 1px 2px 0px #00000030
}

.blockbutton {
  display: block;
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  border-radius: 8px;
  cursor: pointer; /* Hide button */
}


.unblockbutton {
  display: block;
  background-color: #0000FF;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  border-radius: 8px;
  cursor: pointer; /* Hide button */
}

.sidebar {
  height: 200px;
  width: 150px;
  position: fixed;
  top: 0;
  right: 0;
}
