
<template>
  <!-- Main Framework7 App component where we pass Framework7 params -->
  <f7-app v-bind="{ theme: 'auto', name: 'My App' }">


    <!-- Right Panel with "reveal" effect -->
    <f7-panel right reveal>
      <f7-view>
        <f7-page>
          <f7-navbar title="Right Panel"></f7-navbar>
          <f7-block>
            <p>Here comes the right panel text</p>
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-panel>

    <!-- Main view-->
    <f7-view main>
      <f7-page>
        <f7-navbar title="Coprep chat"></f7-navbar>
        <!-- Page content -->
        <f7-block>
          <p>Here comes main view page text</p>
</f7-block>
          <!-- Buttons to open panels -->
          <f7-row>
            <f7-col>
              <f7-button panel-open="left">Left Panel</f7-button>
            </f7-col>
            <f7-col>
              <f7-button panel-open="right">Right Panel</f7-button>
            </f7-col>
          </f7-row>
          <!-- Button to open popup -->
          <f7-button popup-open="#my-popup">Open Popup</f7-button>

          <f7-messagebar ref="messagebar" v-model:value="messageText" :placeholder="placeholder"
            :attachments-visible="attachmentsVisible" :sheet-visible="sheetVisible">
            <template #inner-start>
              <f7-link icon-ios="f7:camera_fill" icon-md="material:camera_alt" @click="sheetVisible = !sheetVisible" />
            </template>
            <template #inner-end>
              <f7-link icon-ios="f7:arrow_up_circle_fill" icon-md="material:send" @click="sendMessage" />
            </template>
            <f7-messagebar-attachments>
              <f7-messagebar-attachment v-for="(image, index) in attachments" :key="index" :image="image"
                @attachment:delete="deleteAttachment(image)"></f7-messagebar-attachment>
            </f7-messagebar-attachments>
            <f7-messagebar-sheet>
              <f7-messagebar-sheet-image v-for="(image, index) in images" :key="index" :image="image"
                :checked="attachments.indexOf(image) >= 0" @change="handleAttachment"></f7-messagebar-sheet-image>
            </f7-messagebar-sheet>
          </f7-messagebar>
          
          <f7-messages>
      <f7-messages-title><b>Sunday, Feb 9,</b> 12:58</f7-messages-title>
      <f7-message
        v-for="(message, index) in messagesData"
        :key="index"
        :type="message.type"
        :image="message.image"
        :name="message.name"
        :avatar="message.avatar"
        :first="isFirstMessage(message, index)"
        :last="isLastMessage(message, index)"
        :tail="isTailMessage(message, index)"
      >
        <template v-if="message.text" #text>
          <!-- eslint-disable-next-line -->
          <span v-html="message.text"></span>
        </template>
      </f7-message>
      </f7-messages>
            
          



      </f7-page>
    </f7-view>




    <!-- Popup. All modals should be outside of Views -->
    <f7-popup id="my-popup">
      <f7-view>
        <f7-page>
          <f7-navbar title="Popup">
            <!-- Link to close popup -->
            <f7-nav-right>
              <f7-link popup-close>Close</f7-link>
            </f7-nav-right>
          </f7-navbar>
          <f7-block>
            <p>Here comes popup text</p>
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>
  </f7-app>
</template>




<script>
import {
  f7Navbar,
  f7Page,
  f7Icon,
  f7Searchbar,
  f7Subnavbar,
  f7List,
  f7ListItem,
  theme,
} from 'framework7-vue';

export default (props, { $f7, $el, $on, $ }) => {

  const images = [
    'https://cdn.framework7.io/placeholder/cats-300x300-1.jpg',
    'https://cdn.framework7.io/placeholder/cats-200x300-2.jpg',
    'https://cdn.framework7.io/placeholder/cats-400x300-3.jpg',
    'https://cdn.framework7.io/placeholder/cats-300x150-4.jpg',
    'https://cdn.framework7.io/placeholder/cats-150x300-5.jpg',
    'https://cdn.framework7.io/placeholder/cats-300x300-6.jpg',
    'https://cdn.framework7.io/placeholder/cats-300x300-7.jpg',
    'https://cdn.framework7.io/placeholder/cats-200x300-8.jpg',
    'https://cdn.framework7.io/placeholder/cats-400x300-9.jpg',
    'https://cdn.framework7.io/placeholder/cats-300x150-10.jpg'
  ];
  const people = [
    {
      name: 'Kate Johnson',
      avatar: 'https://cdn.framework7.io/placeholder/people-100x100-9.jpg'
    },
    {
      name: 'Blue Ninja',
      avatar: 'https://cdn.framework7.io/placeholder/people-100x100-7.jpg'
    },
  ];
  const answers = [
    'Yes!',
    'No',
    'Hm...',
    'I am not sure',
    'And what about you?',
    'May be ;)',
    'Lorem ipsum dolor sit amet, consectetur',
    'What?',
    'Are you sure?',
    'Of course',
    'Need to think about it',
    'Amazing!!!',
  ];

  let responseInProgress = false;
  let messagebar;
  let messages;

  const sheetToggle = () => {
    messagebar.sheetToggle();
  }
  const deleteAttachment = (e, index) => {
    var image = messagebar.attachments.splice(index, 1)[0];
    messagebar.renderAttachments();
    checkAttachments();
    // Uncheck in sheet
    var imageIndex = images.indexOf(image);
    $el.value.find('.messagebar-sheet .checkbox').eq(imageIndex).find('input').prop('checked', false);
  }
  const handleAttachment = (e) => {
    var index = $(e.target).parents('label.checkbox').index();
    var image = images[index];
    if (e.target.checked) {
      // Add to attachments
      messagebar.attachments.unshift(image)
    } else {
      // Remove from attachments
      messagebar.attachments.splice(messagebar.attachments.indexOf(image), 1);
    }
    messagebar.renderAttachments();
    checkAttachments();
  }
  const checkAttachments = () => {
    if (messagebar.attachments.length > 0) {
      messagebar.attachmentsShow();
      messagebar.setPlaceholder('Add comment or Send');
    } else {
      messagebar.attachmentsHide();
      messagebar.setPlaceholder('Message');
    }
  }
  const sendMessage = () => {
    var text = messagebar.getValue().replace(/\n/g, '<br />').trim();
    var messagesToSend = [];
    messagebar.attachments.forEach(function (attachment) {
      var size = attachment.split('placeholder/cats-')[1].split('-')[0].split('x');
      messagesToSend.push({
        image: '<img src="' + attachment + '" style="width: ' + (size[0] / 2) + 'px; height: ' + (size[1] / 2) + 'px">'
      });
    });
    if (text.trim().length) {
      messagesToSend.push({
        text: text
      });
    }
    // Reset attachments
    messagebar.attachments = [];
    checkAttachments();
    // Hide sheet
    messagebar.sheetHide();
    // Uncheck selected images in sheet
    messagebar.$sheetEl.find('input').prop('checked', false);
    // Clear area
    messagebar.clear();
    // Focus area
    if (text.length) messagebar.focus();
    // Exit when nothing to send
    if (!messagesToSend.length) return;
    // Send message
    messages.addMessages(messagesToSend);

    // Mock response
    if (responseInProgress) return;
    responseInProgress = true;
    setTimeout(function () {
      var answer = answers[Math.floor(Math.random() * answers.length)];
      var person = people[Math.floor(Math.random() * people.length)];
      messages.showTyping({
        header: person.name + ' is typing',
        avatar: person.avatar
      });
      setTimeout(function () {
        messages.addMessage({
          text: answer,
          type: 'received',
          name: person.name,
          avatar: person.avatar
        });
        messages.hideTyping();
        responseInProgress = false;
      }, 4000);
    }, 1000);
  }



  $on('pageInit', () => {
    messagebar = $f7.messagebar.create({
      el: $el.value.find('.messagebar'),
      attachments: []
    });
    messages = $f7.messages.create({
      el: $el.value.find('.messages'),
      firstMessageRule: function (message, previousMessage, nextMessage) {
        if (message.isTitle) return false;
        if (!previousMessage || previousMessage.type !== message.type || previousMessage.name !== message.name) return true;
        return false;
      },
      lastMessageRule: function (message, previousMessage, nextMessage) {
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      tailMessageRule: function (message, previousMessage, nextMessage) {
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      }
    });
  });
  



  return $render;
};



</script>